.container {
  margin: 0 auto;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_blog {
    display: block;
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    img {
      max-width: 100%;
    }
  }
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 1.5rem;
  a {
    color: #0070f3;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}

/* Add New */
.blog {
  padding: 1em 2em;
  background: linear-gradient(
    -45deg,
    rgba(200, 43, 65, 0.1),
    rgba(45, 65, 188, 0.1)
  );
}
// photo
.photo {
  &_gallery {
    // display: flex;
    // // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // flex-wrap: wrap;
    // gap: 4px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 4px;

    img {
      margin: 0 auto;
      padding: 5px;
      width: 100%;
      // display: inline-block;
      // max-width: 400px;
      border-radius: 0.5vw;
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5), 0 12px 24px rgba(0, 0, 0, 0.1);

      // responsive
      // TODO: make this a mixin
      @media (max-width: 600px) {
        max-width: 100%;
      }
    }
  }
  &_figure {
    text-align: center;
    margin-top: -1vw;
    color: dimgray;
  }
}
