// file name: Lightbox.module.scss
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

//  LightBox
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightboxContent {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.lightboxContent img {
  max-width: 100%;
  max-height: 100%;
}

.closeButton,
.prevButton,
.nextButton {
  border: none;
  color: #fff;
  cursor: pointer;
  // background: rgba(0, 0, 0, 0.5); /* 薄い背景色 */
}

.closeButton svg path,
.prevButton svg path,
.nextButton svg path {
  transition: 0.3s;
}
.closeButton:hover svg path,
.prevButton:hover svg path,
.nextButton:hover svg path {
  stroke: #e06426;
  transition: 0.3s;
}

.closeButton svg,
.prevButton svg,
.nextButton svg {
  pointer-events: none; /* SVGのクリックイベントを無効化 */
}

.closeButton {
  position: absolute;
  top: -40px;
  right: -40px;
  font-size: 24px;
  background: transparent;
}

.prevButton {
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  background: none;
}

.nextButton {
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  background: none;
}

/* モバイルデバイス向けのスタイル */
@media (max-width: 960px) {
  .prevButton,
  .nextButton {
    top: 50%;
    transform: translateY(-50%);
  }
  .closeButton {
    top: -45px;
    right: -30px;
  }
  .prevButton {
    left: -10px;
  }
  .nextButton {
    right: -10px;
  }
}
